@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Gradient Grid Background (credit to https://dub.sh)
*/

.main {
  @apply fixed w-screen min-h-screen flex justify-center px-6 pt-[120px] pb-[160px] pointer-events-none;
}

.main::before {
  content: "";
  @apply absolute w-full h-full top-0 z-[2];
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, #fafafa 100%);
}

.main::after {
  content: "";
  @apply absolute w-full h-full top-0 z-[1] opacity-40;
  background-image: url("/src/assets/grid.svg");
  filter: invert(1);
}

.gradient {
  @apply absolute top-20 w-full max-w-[640px] h-full z-[3];
  background-image:
    radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  filter: blur(100px) saturate(150%);
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    @apply p-0;
  }
}

/* Tailwind Utility Classes */

.app {
  @apply relative z-10 flex flex-col items-center justify-center max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-sm text-white transition-all hover:bg-white hover:text-black;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl text-center;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg sm:text-xl text-gray-600 text-center max-w-2xl;
}

.url_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-10 pr-12 text-sm shadow-lg font-satoshi font-medium focus:border-black focus:outline-none focus:ring-0;
}

.submit_btn {
  @apply absolute inset-y-0 right-0 my-1.5 mr-1.5 flex w-10 items-center justify-center rounded border border-gray-200 font-sans text-sm font-medium text-gray-400 hover:text-gray-700 hover:border-gray-700;
}

.link_card {
  @apply flex flex-row items-center gap-3 p-3 bg-white border border-gray-200 rounded-lg cursor-pointer;
}

.copy_btn {
  @apply w-7 h-7 flex items-center justify-center rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur cursor-pointer;
}

.blue_gradient {
  @apply font-black bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.summary_box {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-4;
}
